# Python
__pycache__/
*.py[cod]
*.so

# Distribution
dist/
*.egg-info/

# Virtual Environments
.venv/
venv/
env/

# Environment Variables
.env

# Testing & Linting
.pytest_cache/
.ruff_cache/
.mypy_cache/
.coverage
htmlcov/

# IDE / Editor
.idea/
.DS_Store

core*
.core*
